@model IEnumerable<Jeans.IdentityServer4.UI.Core.Entity.Client>

@{
    ViewData["Title"] = "Client List";
}

<section class="content-header clearfix">
    <h1 class="pull-left">@ViewBag.Title</h1>
</section>
<section class="content container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">查询条件</h3>
        </div>
        <div class="panel-body"></div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">查询结果</h3>
        </div>
        <div class="panel-body">
            <div class="btn-group margin-bottom">
                <a asp-controller="Client" asp-action="Add" class="btn btn-primary">新  增</a>
            </div>

            <table class="table table-bordered" style="width:100%;">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>
                            @Html.DisplayNameFor(model => model.ClientId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ClientName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Description)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ClientUri)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.LogoUri)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.AllowAccessTokensViaBrowser)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Enabled)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            <div class="btn-group btn-group-xs" role="group">
                                <a asp-controller="Client" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">编 辑</a>
                                <a asp-controller="Client" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">删 除</a>
                                <a asp-controller="Client" asp-action="Show" asp-route-id="@item.Id" class="btn btn-info">详 情</a>
                            </div>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ClientId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ClientName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ClientUri)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LogoUri)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AllowAccessTokensViaBrowser)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Enabled)
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>




