@model IEnumerable<Jeans.IdentityServer4.UI.Core.Entity.ClientSecret>

@{
    ViewData["Title"] = "ClientSecret List";
}

<section class="content-header clearfix">
    <h1 class="pull-left">@ViewBag.Title</h1>
</section>
<section class="content container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">查询条件</h3>
        </div>
        <div class="panel-body"></div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">查询结果</h3>
        </div>
        <div class="panel-body">
            <div class="btn-group margin-bottom">
                <a asp-controller="ClientSecret" asp-action="Add" class="btn btn-primary">新  增</a>
            </div>

            <table class="table table-bordered" style="width:100%;">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>
                            Client.Name
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Description)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Value)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Expiration)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Type)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Created)
                        </th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            <div class="btn-group btn-group-xs" role="group">
                                <a asp-controller="ClientSecret" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">编 辑</a>
                                <a asp-controller="ClientSecret" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">删 除</a>
                            </div>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Client.ClientName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Value)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Expiration)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Type)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Created)
                        </td>

                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>



