@{
    var apiResourceMenu = new[] { "apiresource", "apiresourceclaim", "ApiScope", "ApiScopeClaim", "ApiSecret" };
    var clientMenu = new[] { "client", "ClientClaim", "ClientCorsOrigin", "ClientGrantType", "ClientIdPRestriction",
                           "ClientPostLogoutRedirectUri", "ClientProperty","ClientRedirectUri","ClientScope","ClientSecret" };
    var authMenu = new[] { "User"};
}
@functions
{
public string ClassActive(string controller_name = "", string action_name = "list", string[] parent_name = null)
{
    var controllerName = ViewContext.RouteData.Values["Controller"].ToString();
    var actionName = ViewContext.RouteData.Values["Action"].ToString();

    if (parent_name != null && parent_name.Length > 0)
    {
        return parent_name.Contains(controllerName, StringComparer.OrdinalIgnoreCase) ? "active" : "";
    }

    if (controllerName.Equals(controller_name, StringComparison.OrdinalIgnoreCase) &&
        actionName.Equals(action_name, StringComparison.OrdinalIgnoreCase))
    {
        return "active";
    }

    return "";
}
}

<ul class="sidebar-menu" data-widget="tree">
    <li class="header">菜单(MENU)</li>

    <li class="@ClassActive("home","index")">
        <a asp-controller="Home" asp-action="Index">
            <i class="fa fa-desktop"></i> <span>控制面板</span>
        </a>
    </li>
    <li class="treeview @ClassActive()">
        <a href="#">
            <i class="fa fa-address-card-o"></i> <span>身份资源管理</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li class="@ClassActive()"><a href="#"><i class="fa fa-circle-o"></i>Link in level 2</a></li>
            <li class="@ClassActive()"><a href="#"><i class="fa fa-circle-o"></i>Link in level 2</a></li>
        </ul>
    </li>
    <li class="treeview @ClassActive(parent_name:apiResourceMenu)">
        <a href="#">
            <i class="fa fa-book"></i> <span>API资源管理</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li class="@ClassActive("ApiResource")">
                <a asp-controller="ApiResource" asp-action="List">
                    <i class="fa fa-circle-o"></i>ApiResource List
                </a>
            </li>
            <li class="@ClassActive("ApiResourceClaim")">
                <a asp-controller="ApiResourceClaim" asp-action="List">
                    <i class="fa fa-circle-o"></i>ApiResourceClaim List
                </a>
            </li>
            <li class="@ClassActive("ApiScope")">
                <a asp-controller="ApiScope" asp-action="List">
                    <i class="fa fa-circle-o"></i>ApiScope List
                </a>
            </li>
            <li class="@ClassActive("ApiScopeClaim")">
                <a asp-controller="ApiScopeClaim" asp-action="List">
                    <i class="fa fa-circle-o"></i>ApiScopeClaim List
                </a>
            </li>
            <li class="@ClassActive("ApiSecret")">
                <a asp-controller="ApiSecret" asp-action="List">
                    <i class="fa fa-circle-o"></i>ApiSecret List
                </a>
            </li>
        </ul>
    </li>
    <li class="treeview @ClassActive(parent_name:clientMenu)">
        <a href="#">
            <i class="fa fa-android"></i> <span>客户端管理</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li class="@ClassActive("Client")">
                <a asp-controller="Client" asp-action="List">
                    <i class="fa fa-circle-o"></i>Client List
                </a>
            </li>
            <li class="@ClassActive("ClientClaim")">
                <a asp-controller="ClientClaim" asp-action="List">
                    <i class="fa fa-circle-o"></i>ClientClaim List
                </a>
            </li>
            <li class="@ClassActive("ClientCorsOrigin")">
                <a asp-controller="ClientCorsOrigin" asp-action="List">
                    <i class="fa fa-circle-o"></i>ClientCorsOrigin List
                </a>
            </li>
            <li class="@ClassActive("ClientGrantType")">
                <a asp-controller="ClientGrantType" asp-action="List">
                    <i class="fa fa-circle-o"></i>ClientGrantType List
                </a>
            </li>
            <li class="@ClassActive("ClientIdPRestriction")">
                <a asp-controller="ClientIdPRestriction" asp-action="List">
                    <i class="fa fa-circle-o"></i>ClientIdPRestriction List
                </a>
            </li>
            <li class="@ClassActive("ClientPostLogoutRedirectUri")">
                <a asp-controller="ClientPostLogoutRedirectUri" asp-action="List">
                    <i class="fa fa-circle-o"></i>ClientPostLogoutRedirectUri <br />List
                </a>
            </li>
            <li class="@ClassActive("ClientProperty")">
                <a asp-controller="ClientProperty" asp-action="List">
                    <i class="fa fa-circle-o"></i>ClientProperty List
                </a>
            </li>
            <li class="@ClassActive("ClientRedirectUri")">
                <a asp-controller="ClientRedirectUri" asp-action="List">
                    <i class="fa fa-circle-o"></i>ClientRedirectUri List
                </a>
            </li>
            <li class="@ClassActive("ClientScope")">
                <a asp-controller="ClientScope" asp-action="List">
                    <i class="fa fa-circle-o"></i>ClientScope List
                </a>
            </li>
            <li class="@ClassActive("ClientSecret")">
                <a asp-controller="ClientSecret" asp-action="List">
                    <i class="fa fa-circle-o"></i>ClientSecret List
                </a>
            </li>
        </ul>
    </li>
    <li class="treeview @ClassActive(parent_name:authMenu)">
        <a href="#">
            <i class="fa fa-users"></i> <span>用户权限管理</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li class="@ClassActive("User")">
                <a asp-controller="User" asp-action="List">
                    <i class="fa fa-circle-o"></i>User List
                </a>
            </li>
        </ul>
    </li>
</ul>